@media (max-width: 1280px) {
    .main-site-index {
        flex-wrap: wrap;
    }
    .main-site-index .article.box.box--1 {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }

    .main-site-index .article.box.box--2 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .box-instruction img{
        width: 100%;
        height: auto;
    }

}

@media (max-width: 1000px) {
    #page-right-content {
        top: 0;
    }
    .header
    {
        margin-bottom: 0;
    }
		.header .main-logo {
			min-width: 90px;
			height: 50px;
			margin-top: 0;
	}
}

@media (max-width: 991px) {

    .lang-switch {
        top: 14px;
        left: 120px;
        max-width: 66px;
        min-height: 53px;
    }
    .object-svg{
        width: 237px;
    }
    .sidebar-navigation {
        margin-left: -2200px;
        z-index: 3;
        background: #e9b330;
    }
    body.nav-collapse .sidebar-navigation {
        padding-top: 80px;
        margin-left: 0;
        box-shadow: 7px 8px 9px rgba(0, 0, 0, 0.11);
        top: 0;
        z-index: 999999;
        position: fixed;
        bottom: 0;

    }

    .sidebar-navigation .button-menu-mobile{
        line-height: inherit;
        top: 0;
        background: #545454;
        border-radius: 0;
        font-size: 31px;
        width: 50px;
        height: 50px;
        color: white;
        position: absolute;
        right: 0;
        padding: 10px;
    }
    #page-right-content {
        margin-left: 0;

    }
    #page-right-content>.container {
        padding-left: 0;
        padding-right: 0;
    }
    #page-right-content>.container>.col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
    body.nav-collapse #page-right-content{
        margin-left: 0;
    }
}
@media (min-width: 800px){
    .lang-switch__item:before {
        content: "•";
        margin-right: 4px;
        color: #fff;
    }
    .lang-switch {
        display: block;
        max-width: 124px;
        min-height: 0;
    }
    .lang-switch--sidebar {
        display: none;
    }
    .lang-switch__item, .lang-switch__items {
        display: inline-block;
    }
    .lang-switch__items {
        transform: translateX(-100%);
    }
    .lang-switch__items:after {
        content: "";
        position: relative;
        right: -9px;
        display: inline-block;
        width: 7px;
        height: 7px;
        background: url(/assets/svg-icons/triangle.svg) no-repeat;
    }
    .gallery__thumbnail:after, .lang-switch__current:after, .news__nav>.slick-arrow:before, .token__text:before {
        content: none;
    }
}

@media (max-width: 800px) {
    .lang-switch--sidebar {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
}

@media (max-width: 720px) {
        .header__current-page-text {
            font-size: 34px;
            line-height: 1.21;
        }
    .header__current-page-username {
        font-size: 1.375em;
    }
    .main-auth .token-buy__button {
        margin: 35px auto 20px;
        display: block;
        min-width: 40%;

        padding: 10px 15px;

        border-radius: 18px;
        font-size:20px;
        line-height: 3.5875rem;
        text-transform: uppercase;
        background-color: #98b5e4;
        border: none;
        color: #331272;
        font-family: 'Fira Sans',Arial,'sans-serif';
        font-weight: 600;
        cursor: pointer;
    }

}

@media (max-width: 500px) {
    .header__current-page-text {
        font-size: 22px;
        line-height: 1.21;
    }
    .header__current-page-username {
        font-size: 0.975em;
    }
    .token-distribution__header{
        display: block;
    }
    .current-period{
        margin: 10px 0;
    }
    .header {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    body{
        /*background-color: #331272;*/
    }
    .no-col-mobile .form-group{
        white-space: inherit !important;
    }
    .token-distribution__bonuses{
        line-height: inherit;
        font-size: 26px;
    }
    .token-distribution__timer{
        line-height: inherit;
        font-size: 26px;
    }
    .token-buy__left{
        width: 100%;
    }
    .token-buy__right{
        width: 100%;
    }

}
@media (max-width: 460px) {
    #kyc-form .col-md-6 {
        width: 100%;
    }
    .token-buy__fieldset .row .col-xs-6{
        width: 100%;
    }
    .token-buy__button{
        min-width: 100%;
    }
}
@media (max-width: 400px) {
    .token-buy__button{
        min-width: 100%;
    }
    .token-distribution__caption{
        font-size: 2em;
    }
}

