//
// General
// @keyframes
// Files
//



// Анимация загрузки

@keyframes spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)


// Анимация пульсации

@keyframes pulse
	50%
		background lightblue-c



// Анимация telegram icons

@keyframes star
	50%
		filter hue-rotate(260deg)


@keyframes starpuls
	50%
		fill rgb(253, 235, 170)


// Анимация wavepulse

@keyframes shadowwave
	0%
		transform scale(1.0,1.0)


	10%
		transform scale(1.1,1.1)


	15%
		transform scale(1.0,1.0)


	70%
		box-shadow 0 0 0 15px rgba(0,0,0, 0)


	100%
		box-shadow 0 0 0 0 rgba(0,0,0, 0)

