.wrapper--10
	{}
	background-image url('../svg/small-star-many.svg'), radial-gradient(circle closest-corner at 50% 50%,#051d4a 20%,#000f19 56%)
	background-color #000
	background-repeat repeat
	background-position 50% 50%

.section--10
	{}
	height 1400px
	background url('../img/bg/roadmap24.png') no-repeat 50% 50%
	background-size contain


.roadmap
	{}
	position relative
	width 100%


	&__caption
		caption(2.875rem, 2.5rem, 600)
		color #fff


	&__bonus-wr
		{}
		position absolute
		bottom 0


	&__bonus
		{}


	&__title
		{}
		margin 0
		font-size 1.5rem
		line-height 1.6rem
		font-weight 700
		color cyan-main

		&--first
			{}
			padding-left 40px

		&--second
			{}
			padding-right 40px
			text-align right


	&__paragraph
		{}
		margin 0
		padding-bottom 70px
		font-size 1.125rem
		line-height 1.5rem
		color #fff


		&--first
			{}
			padding-left 42px
			background transparent url('../img/bg/roadmap-line.png') no-repeat
			background-size 50% 60px
			background-position 0% 50%
			// background-image radial-gradient(circle closest-side at 25px 25px,#07fbf4 5%,#004fff 45%,#0000 70%),  radial-gradient(ellipse closest-side at 25px 25px,#07fbf4 25%,#004fff 60%,#0000 90%);

		&--second
			{}
			padding-right 37px
			background transparent url('../img/bg/roadmap-line-reverse.png') no-repeat
			background-size 50% 66px
			background-position 105% 50%
			text-align right


	&__list
		{}

		span
			{}
			font-size 1.5rem
			font-weight 700
			color cyan-main


	&__item
		{}
		margin 1rem
		font-size 1.125rem
		line-height 2.25rem
		color #fff





@media fullhd
	.wrapper--10
		{}


	.section--10
		{}
		height 1200px
		background-position 50% 24%



@media desktop
	.wrapper--10
		{}


	.section--10
		{}
		background-position 50% 26%
		height 1050px



@media notebook
	.wrapper--10
		{}


	.section--10
		{}
		background-size 90%



@media medium
	.wrapper--10
		{}


	.section--10
		{}
		background-position 50% 16%


	.roadmap
		{}

		&__list
			{}
			padding 0


@media small
	.wrapper--10
		{}


	.section--10
		{}
		height 1300px // 800px
		background-image url('../img/bg/roadmap-mobile-en.png')
		background-position 50% 12%
		background-size 80%


	.roadmap
		{}

		&__list
			{}


		&__paragraph
			{}
			background-size contain
