.wrapper--11
	{}
	background-image url('../svg/small-star-few.svg'), radial-gradient(circle closest-corner at 50% 50%,#051d4a 20%,#000f19 56%)
	background-repeat no-repeat, no-repeat
	background-color #fff
	background-position 50% 80px, 0


.section--11
	{}
	height 800px


.distributions
	{}
	width 100%
	display flex
	justify-content space-around


	&__graph
		{}
		width 100%
		max-width 700px
		height 550px
		z-index 5

		&--1
			{}
			// outline 2px dotted red


		&--2
			{}
			padding-top 14rem
			// outline 2px dotted violet




	&__logotype
		{}
		position absolute
		max-width 320px
		width 100%
		top 60%
		left 46%
		transform translateX(-50%)

	.logotype--opacity
		opacity .8



@media fullhd
	.wrapper--11
		{}
		background-position 50% 80%, 0

	.section--11
		{}

	.distributions
		{}

		&__graph
			{}

			&--1
				{}

			&--2
				{}





@media desktop
	.section--11
		{}

	.distributions
		{}

		&__graph
			{}

			&--1
				{}

			&--2
				{}


		&__logotype
			{}
			left 42%




@media notebook
	.wrapper--11
		{}
		background-position 0 44%, 0


	.section--11
		{}
		height auto


	.distributions
		{}
		flex-wrap wrap

		&__graph
			{}

			&--1
				{}

			&--2
				{}
				padding-top 0

		&__logotype
			{}
			top 46%





@media medium
	.section--11
		{}
		height 836px

	.distributions
		{}

		&__graph
			{}
			height 350px

			&--1
				{}

			&--2
				{}


		&__logotype
			{}
			top 44%
			max-width 240px

		.logotype--opacity
			opacity .3


@media small
	.section--11
		{}
		height auto


	.distributions
		{}

		&__graph
			{}
			height 240px

			&--1
				{}

			&--2
				{}


		&__logotype
			{}
			left 50%
			top 46%
			max-width 200px

