.wrapper--13
	{}
	background-image radial-gradient(circle closest-corner at 50% 50%,#051d4a 20%,#000f19 56%)
	background-repeat no-repeat
	background-color #000
	background-position 0 100%


.section--13
	{}
	height 1120px
	position relative
	overflow hidden


.ecosystem
	{}
	width 100%
	// background url('../img/bg/diamond24.png') no-repeat 50% 76%
	// background-size 90vw

	&__svg-diamond
		{}
		position absolute
		top 0
		left 0
		width 100%
		height 100%





	&__caption
		{}
		position relative
		caption(2.875rem, 2.5rem, 600)
		color #fff
		z-index 2


	&__information
		{}
		display flex
		justify-content space-between
		align-items center
		height 100%
		width 100%
		color cyan-main


		p
			font-size 1.5rem
			line-height 1.8125rem

			&:first-child
				margin-bottom 3rem


	&__left
		{}
		position relative
		max-width 320px
		text-align left
		z-index 5


	&__right
		{}
		position relative
		max-width 320px
		text-align righ
		z-index 5


	&__logotype
		{}
		position absolute
		bottom 10%
		left 50%
		transform translateX(-50%)
		max-width 80%
		pointer-events none

	.logotype--opacity
		{}
		opacity .05



@media fullhd
	.section--13
		{}
		height 870px

	.ecosystem
		{}

		&__information
			{}

		&__left
			{}

		&__right
			{}

		&__logotype
			{}


@media desktop
	.section--13
		{}
		height 700px

	.ecosystem
		{}

		&__information
			{}

			p
				{}
				font-size 1.3rem
				line-height 1.6rem

		&__left
			{}
			max-width 240px

		&__right
			{}
			max-width 240px

		&__logotype
			{}



@media notebook
	.section--13
		{}
		height 550px

	.ecosystem
		{}

		&__information
			{}

		&__left
			{}
			max-width 200px

		&__right
			{}
			max-width 200px

		&__logotype
			{}



@media medium
	.section--13
		{}
		height 880px

	.ecosystem
		{}
		background-position 45% 116%
		background-size 600px

		&__caption
			margin-top 0


		&__svg-diamond
			{}
			top 9%
			left -10%
			width 120%


		&__information
			{}
			flex-direction column
			justify-content flex-start

			p
				font-size 1rem
				line-height 1.1rem

				&:first-child
					margin-bottom 1rem

		&__left
			{}
			text-align center
			max-width 100%

		&__right
			{}
			max-width 100%
			text-align center

		&__logotype
			{}
			bottom 30%



@media small
	.section--13
		{}
		height 560px

	.ecosystem
		{}
		background-size 440px

		&__caption
			{}

		&__svg-diamond
			{}
			top 22%
			left -17%
			width 140%


		&__information
			{}

		&__left
			{}

		&__right
			{}

		&__logotype
			{}


