.wrapper--2
	{}


.section--2
	{}

.iframe-video
	{}

	// &__wr
	// 	{}
	// 	position absolute
	// 	top 0
	// 	left 0
	// 	right 0
	// 	bottom 0
	// 	height 300%
	// 	top -100%


@media fullhd
	.wrapper--2
		{}
		height 760px

	.section--2
		{}


@media desktop
	.wrapper--2
		{}
		height 660px

	.section--2
		{}




@media notebook
	.wrapper--2
		{}
		height 460px

	.section--2
		{}




@media medium
	.wrapper--2
		{}
		height 380px

	.section--2
		{}




@media small
	.wrapper--2
		{}
		height 232px

	.section--2
		{}



