.wrapper--3
	{}
	background-image radial-gradient(circle closest-side at 48% 50%, #fff 10%,#1dcad3  130%)

.section--3
	{}
	height 1080px
	overflow hidden


.idea
	{}
	width 100%

	&__iframe
		{}
		position relative
		display block
		width 100%
		height 100%
		z-index 5

	&__points
		{}


	&__point
		{}
		position absolute
		background-image url('../svg/mark.svg')
		background-repeat no-repeat
		width 480px
		height 380px

		span
			text-align center


		&--1
			top -10%
			left 74px

			span
				position absolute
				top 50%


		&--2
			top -5%
			right 20px

			span
				position absolute
				top 26%

		&--3
			bottom 50px
			right 20px

			span
				position absolute
				top 30%

		&--4
			bottom 150px
			left 20px

			span
				position absolute
				top 10%
				left 50%
				width 100%
				max-width 400px
				transform translateX(-50%)

		&--5
			bottom -10%
			left 50%
			transform translateX(-50%)
			{}

			span
				position absolute
				top 40%





@media fullhd
	.section--1
		{}

	html
		{}


	.idea
		{}

		&__iframe
			{}
			height 70%


		&__points
			{}

		&__point
			{}

			&--1
				{}

			&--2
				{}

			&--3
				{}

			&--4
				{}

			&--5
				{}




@media desktop
	.section--1
		{}

	html
		{}


	.idea
		{}

		&__iframe
			{}
			height 60%


		&__points
			{}

		&__point
			{}

			&--1
				{}
				top 50%
				width 320px

			&--2
				{}
				top 50%
				width 320px

			&--3
				{}
				top 76%
				width 320px

			&--4
				{}
				top 76%
				width 320px

			&--5
				{}
				top 64%
				width 320px



@media notebook
	.section--1
		{}

	.wrapper--3
		{}
		background-image radial-gradient(circle closest-side at 48% 15%, #fff 10%,#1dcad3  130%)

	html
		{}


	.idea
		{}

		&__iframe
			{}
			height 50%

		&__points
			{}

		&__point
			{}
			color #fff

			&--1
				{}
				width 260px
				height 200px

				span
					top 50%
					transform translateY(-50%)
					left auto

			&--2
				{}
				width 260px
				height 200px

				span
					top 50%
					transform translateY(-50%)
					left auto

			&--3
				{}
				width 260px
				height 200px

				span
					top 50%
					transform translateY(-50%)
					left auto

			&--4
				{}
				width 260px
				height 200px

				span
					top 50%
					transform translateY(-50%)
					left auto

			&--5
				{}
				width 260px
				height 200px

				span
					top 50%
					transform translateY(-50%)
					left auto



@media medium
	.section--1
		{}

	html
		{}


	.idea
		{}

		&__iframe
			{}
			height 30%

		&__points
			{}

		&__point
			{}

			&--1
				{}
				width 190px
				height 140px
				top 28%
				left 50%
				transform translateX(-50%)

			&--2
				{}
				width 190px
				height 140px
				top 42%
				left 50%
				transform translateX(-50%)


			&--3
				{}
				width 190px
				height 140px
				top 56%
				left 50%
				transform translateX(-50%)


			&--4
				{}
				width 190px
				height 140px
				top 71%
				left 50%
				transform translateX(-50%)


			&--5
				{}
				width 190px
				height 140px
				top 86%
				left 50%
				transform translateX(-50%)





@media small
	.section--1
		{}

	html
		{}


	.idea
		{}

		&__iframe
			{}

		&__points
			{}

		&__point
			{}

			&--1
				{}

			&--2
				{}

			&--3
				{}

			&--4
				{}

			&--5
				{}

