.wrapper--4
	{}
	background url('../img/bg/section--4.jpg') no-repeat 50%
	background-size cover

.section--4
	{}



.mission
	{}
	width 100%


	&__title
		{}
		margin -56px 0 0 0
		font-size 24rem
		line-height .8
		font-weight 700
		text-align center
		text-transform uppercase
		letter-spacing -28px
		color rgba(255,255,255, 0.2)


	&__caption
		{}
		position absolute
		padding 20px
		top 40%
		right 0
		max-width 1066px
		font-size 1.5rem
		line-height 2rem
		font-weight 700
		text-align right
		color #fff

		span
			display block
			text-align right


	&__logotype
		{}
		position absolute
		bottom 6rem
		left 50%
		width 100%
		max-width 800px
		height 300px
		transform translateX(-50%)





@media fullhd
	.section--4
		{}


	.mission
		{}


		&__title
			{}
			font-size 24vw


		&__caption
			{}

			span
				{}


		&__logotype
			{}



@media desktop
	.section--4
		{}
		height 800px

	.mission
		{}


		&__title
			{}
			margin -46px 0 0 0


		&__caption
			{}
			max-width 700px
			font-size 1.2rem
			line-height 1.3rem
			font-weight 400

			span
				{}


		&__logotype
			{}
			bottom 1rem




@media notebook
	.section--4
		{}

	.mission
		{}


		&__title
			{}
			margin -38px 0 0 0
			font-size 22vw
			letter-spacing -20px


		&__caption
			{}

			span
				{}


		&__logotype
			{}
			bottom 0



@media medium
	.wrapper--4
		{}
		// background-size contain

	.section--4
		{}
		height 500px

	.mission
		{}


		&__title
			{}
			margin -34px 0 0 0
			font-size 25vw
			letter-spacing -18px



		&__caption
			{}
			max-width 360px
			top 26%


			span
				{}


		&__logotype
			{}
			bottom -50px
			max-width 444px


@media small
	.section--4
		{}
		height 380px

	.mission
		{}


		&__title
			{}
			margin -24px 0 0 0
			letter-spacing -10px


		&__caption
			{}
			max-width 240px


			span
				{}


		&__logotype
			{}
			bottom 0
			height auto
