.wrapper--5
	{}
	background url('../img/bg/section--5.jpg') no-repeat 0
	background-size cover

.section--5
	{}



.problem
	{}


	&__caption
		{}
		padding-left 140px
		font-size 2.875rem
		line-height 3rem
		font-weight 600 // semibold
		text-transform uppercase
		color cyan-main
		text-align center


	&__category
		{}
		display flex
		justify-content space-between
		margin-left auto
		width 60%
		height 100%



	&__part
		{}
		position relative
		width 42%
		padding 0px 20px 0px 36px
		color #fff

		&:nth-child(1)
			{}
			background-image linear-gradient(to bottom, #0437a0 35%, transparent 70%)

		&:nth-child(2)
			{}
			background-image linear-gradient(to bottom, #0437a0 10%, transparent 25%)

		&::before
			content ''
			position absolute
			top -49px
			left -2px
			width 6px
			height 100px
			background radial-gradient(ellipse at 50% 50%, #fff 0%, #00FFCC 12%, #00FFFF 20%, transparent 60%)
			opacity 0.5

		&::after
			content ''
			position absolute
			top -2px
			left -49px
			width 100px
			height 6px
			background radial-gradient(ellipse at 50% 50%, #fff 0%, #00FFCC 12%, #00FFFF 20%, transparent 60%)
			opacity 0.7


	&__part-title
		{}
		font-size 1.5rem
		line-height 2rem
		font-weight 300
		text-transform uppercase
		text-align center


	&__arrow
		{}
		position absolute
		left 27%
		width 30px
		height 30px
		background url('../svg/arrow-up.svg') no-repeat


	&__list
		{}
		padding 0px


	&__item
		{}
		font-size 1.125rem
		line-height 1.5rem
		margin-bottom 1rem



@media fullhd
	.section--5
		{}





@media desktop
	.section--5
		{}
		height 800px

	.problem
		{}

		&__category
			{}
			width 80%





@media notebook
	.section--5
		{}

	.problem
		{}

		&__part
			{}
			padding 10px 5px 5px 25px



@media medium
	.section--5
		{}

	.problem
		{}


		&__caption
			{}
			padding-left 0

		&__part
			{}
			margin 10px
			width 100%
			height 240px

			&:nth-child(1)
				background-image linear-gradient(to bottom,#0437a0 10%,#0000 150%);

			&:nth-child(2)
				background-image linear-gradient(to bottom,#0437a0 10%,#0000 150%);



		&__category
			{}
			width 100%
			flex-wrap wrap


		&__item
			{}
			font-size 1rem
			line-height 1.3rem



@media small
	.section--5
		{}

	.problem
		{}


		&__caption
			{}

		&__part
			{}
			margin 10px
			width 100%
			height auto

			&:nth-child(1)
				{}

			&:nth-child(2)
				{}
				background-image linear-gradient(to bottom,#0437a0 10%,#0000 70%);



		&__category
			{}
			width 100%
			flex-wrap wrap


		&__item
			{}
			font-size 1rem
			line-height 1.3rem
