.wrapper--8
	{}
	background-color #000


.section--8
	{}
	height 1100px


.benefits
	{}
	width 100%



	&__caption
		{}
		position relative
		margin-bottom 11rem
		font-size 2.875rem
		line-height 2.5rem
		font-weight 600
		text-align center
		color cyan-main


		&::after
			content ''
			position absolute
			left 50%
			bottom -70px
			transform translateX(-50%)
			max-width 500px
			width 100%
			height 50px
			background-image radial-gradient(ellipse closest-side at 30% 2px, #fff, #0000), radial-gradient(ellipse closest-side at 60px 24px,#ffffffa1  10%, #78ffec59  30%,#0000 70%), radial-gradient(ellipse closest-side at 40% 7px, #10CFED, #0000), radial-gradient(ellipse closest-side at 36% 20px, #69E5F7, #0000)
			background-position 75% 22px, 50% 0, 80% 17px, 190% 4px
			background-repeat no-repeat
			background-size 50%, 100px, 70%, 90%




	&__box
		{}


	&__box-item
		{}
		box-sizing border-box
		padding-top 96px
		width 80%
		height 182px
		background-size contain
		background-repeat no-repeat
		font-size 1.5rem
		line-height 1.65rem
		font-weight 300

		&--1
			{}
			padding-left 11%
			background-image url('../svg/benefits-star-1.svg')


		&--2
			{}
			padding-left 16%
			background-image url('../svg/benefits-star-2.svg')
			background-position 37% 0

		&--3
			{}
			padding-left 19%
			background-image url('../svg/benefits-star-3.svg')
			background-position 74% 0


	&__paragraph
		margin 0

		&--1
			{}
			max-width 395px

		&--2
			{}
			max-width 395px


		&--3
			{}
			max-width 655px


	&__background
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		pointer-events none
		background url('../img/bg/benefits-diamond.png') no-repeat 150% 86px









@media fullhd
	.section--8
		{}

	.benefits
		{}


		&__caption
			{}


		&__box
			{}
			position relative
			z-index 5


		&__box-item
			{}
			background-size cover
			padding-right 20px

			&--1
				{}
				background-position 45% 0

			&--2
				{}
				background-position 45% 0

			&--3
				{}
				background-position 45% 0



		&__background
			{}
			width 600px
			height 600px
			background-size contain
			top 22%
			left auto
			right 0
			z-index 1




@media desktop
	.section--8
		{}
		height 800px

	.benefits
		{}


		&__caption
			{}
			margin-bottom 6rem


		&__box
			{}


		&__background
			{}
			height 622px
			top 12%




@media notebook
	.section--8
		{}

	.benefits
		{}


		&__caption
			{}


		&__box
			{}


		&__background
			{}




@media medium
	.section--8
		{}

	.benefits
		{}


		&__caption
			{}


			&:after
				{}


		&__box
			{}


		&__box-item
			{}
			width 100%
			padding-left 20px
			font-size 1.3rem
			line-height 1.45rem


			&--1
				{}


			&--2
				{}


			&--3
				{}




		&__background
			{}
			width 100%




@media small
	.section--8
		{}

	.benefits
		{}


		&__caption
			{}


		&__box
			{}


		&__background
			{}



// TODO
// Дописать для мобилок градиенты, что бы они не выпадали и оставались по центру
