.main-footer
	{}

.btn--waitlist-footer
	color cyan
	margin 0 auto

.footer-nav

	ul
		display flex
		justify-content center

	&__link
		margin 0 10px
		color #fff

.contacts
	text-align center

	&__heading
		color cyan

	&__items
		display flex
		justify-content center

	&__item
		color cyan
		padding 30px 40px
		margin 0 15px
		border 3px solid #1D2DE6
		background-color #3d3c65

	&__email
		color cyan
