.overlay
	display none
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(0, 0, 0, 0.7)
	z-index 2

.modal
	display none
	position fixed
	color #fff
	top 30%
	left 50%
	width 60%
	padding 20px 20px 20px 20px
	transform translateX(-50%)
	background-image linear-gradient(to right bottom, lightblue, #0058f7)
	z-index 10

	&__cross
		position absolute
		top 10px
		right 15px
		padding 10px
		width 50px
		height 50px
		font-size 1.2rem
		line-height 1
		font-weight 300
		color #fff
		border 2px solid #1dcad3
		border-radius 50%
		background-image none
		background-color transparent
		outline none


.form
	{}

	&--waitlist-erc
		margin-top 20px

	&__heading
		font-size 2rem
		line-height 1.5
		text-align center

	&__input-wrapper
		display flex
		justify-content center
		flex-wrap wrap

	&__label
		display block
		max-width 40%
		width 100%
		box-sizing border-box
		margin 0 10px 20px 10px
		padding 0 5px

		&--erc
			max-width 80%
			margin 0 auto 20px auto

		span
			display block
			margin-bottom 5px

		&--privacy-policy
			text-align center
			max-width 80%
			margin 0 auto

			span
				display inline

	&__input
		width 100%
		border none
		border-radius 10px
		box-sizing border-box
		padding 20px 20px 20px 20px

	&__checkbox
		transform scale(1.2)

	&__submit
		padding 10px
		border-radius 6px
		color #000
		border none
		background-color #fff
		background-image none
		outline none
		margin 0 auto 10px auto

		&.success
			background-color #14c05ee6

		&.fail
			background-color #b4122ae6

//
// SUBSCRIBE
//

.subscribe
	{}
	flex-direction column
	align-items center
	background-image linear-gradient(to right bottom, lightblue, #0058f7)


	&__cross
		{}
		width 50px
		height 50px
		background transparent
		border 2px solid #1dcad3
		border-radius 50%
		font-size 1.2rem
		line-height 1
		font-weight 300
		color #fff

	&__title
		{}
		position relative
		font-size 1rem
		line-height 1rem
		font-weight 700
		text-transform uppercase
		text-align center

		&::before
			{}
			content ''
			position absolute
			bottom -6px
			width 100%
			height 3px
			background-color #1dcad3


	&__caption
		{}
		margin-bottom .5rem
		font-size 3rem
		line-height 3rem
		text-transform uppercase
		text-align center

		span
			{}
			display block
			width 100%


	&__sub-caption
		{}
		margin-bottom 3rem
		font-size 1rem
		line-height 1


	&__form
		{}
		position relative
		margin-bottom 5rem
		max-width 700px
		width 100%

		.form__input
			padding 15px 100px 15px 20px
			margin-right 50px
			width 100%
			border-radius 30px
			border 3px solid transparent
			font-size 1rem
			font-family 'Open Sans', Arial
			transition all .7s

			&:focus
				{}
				outline none
				border-color #1dcad3


		.form__submit
			{}
			position absolute
			top 50%
			right 1%
			transform translateY(-50%)
			padding 22px
			border-radius 50%
			// background #1dcad3 url('../svg/arrow-right-light-red.svg') no-repeat 50% 50%
			background #1dcad3 url('../svg/arrow-right-fat.svg') no-repeat 50% 50%
			background-size 20px
			transition all .7s


			&:hover
				{}
				opacity .7




@media fullhd
	.modal
		{}
		top 20%


	.form
		{}

		&__heading
			{}

		&__input-wrapper
			{}

		&__label
			{}




@media desktop
	.modal
		{}
		top 20%


	.form
		{}

		&__heading
			{}

		&__input-wrapper
			{}

		&__label
			{}




@media notebook
	.modal
		{}
		top 20%


	.form
		{}

		&__heading
			{}

		&__input-wrapper
			{}

		&__label
			{}
			max-width 100%



@media medium
	.modal
		{}
		top 20%


	.form
		{}

		&__heading
			{}
			margin-top 3rem

		&__input-wrapper
			{}

		&__label
			{}




@media small
	.modal
		{}
		top 20%


	.form
		{}

		&__heading
			{}
			margin-top 4rem

		&__input-wrapper
			{}

		&__label
			{}



