@import "global/variables.styl"
@import "global/custom.styl"
@import "global/animation.styl"
@import "global/mixins.styl"

@import "block/0-header.styl"
@import "block/1-hero.styl"
@import "block/2-videobg1.styl"
@import "block/3-idea.styl"
@import "block/4-mission.styl"
@import "block/5-problem.styl"
@import "block/6-solution.styl"
@import "block/7-videobg2.styl"
@import "block/8-benefits.styl"
@import "block/9-market.styl"
@import "block/10-roadmap.styl"
@import "block/11-distributions.styl"
@import "block/12-slider.styl"
@import "block/13-ecosystem.styl"
@import "block/14-footer.styl"

@import "block/modal.styl"
@import "block/main-footer.styl"
@import "block/account.styl"

@import "global/dynamic.styl"
